.authentication{
    h1{
        margin-bottom: 2rem;
        color: var(--clr-3);
        @include fonts(var(--font-font-1-link), var(--font-2), var(--font-2-line));
    }   

    h2, h3, h4, h5, h6{
        color: var(--clr-3);
    }

    &-customer{
        margin-bottom: 2rem;
    }

    form{
        width: 100% ;
        
        .contact_form__info{
            margin-bottom: 3rem;
        }
    }

    &__login{
        margin-bottom: 4rem;

        .button-wrapper{
            
            @include media-breakpoint-down($breakpoint){
                margin-bottom: 2rem;
            }
            .button{
                margin-right: 2rem;    
               
            }
        }

        p{
            margin-bottom: 0;
        }

        &--wrapper{
            padding-left: 0;
        }
    }

    .sidebar__button {
        padding: 1.5rem 0;
        width: calc(100% - 4rem);
        background: transparent;
        border: none;
        text-align: left;
        border-bottom: 1px solid var(--clr-4);
        cursor: pointer;
        
        &:nth-child(1){
            padding-top: 0;
        }

        p{
            margin-bottom: 0;
        }
    }

    .account{
        &_section__navigation{
            .button{
                &-wrapper{
                    margin-top: 30px;
                }
            }
        }
    }
}