/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

$swiper-navigation-size: 2rem;

*{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
.pri-clr{
    color: var(--clr-1);
}

.sec-clr{
    color: var(--clr-3);
}

:focus {
    outline: none;
}

.lockScroll {
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.config-mode #js-scroll{
    width: 100%;
    height: auto;
    transform: none!important;
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -ms-transform: none!important;
    -o-transform: none!important;
}

.render-content {
    position: relative;
}

.full-link-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
    top: 0;
    left: 0;
}

ul{
    margin-bottom: 0;
}
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-content-wrapper {
    width: 100%;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

#js-scroll {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    -webkit-transform-origin: center right;
        -ms-transform-origin: center right;
            transform-origin: center right;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    -o-transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
    opacity: 0;
    z-index: 99;
}

.c-scrollbar:hover {
    -webkit-transform: scaleX(1.45);
        -ms-transform: scaleX(1.45);
            transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dbdbdb;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.paragraph{
    a{
        color: inherit;
    }
}

.plate--container {
    width: 100%;
    max-width: 1284px;
    padding-left: 8px;
    padding-right: 8px;

    .plate--row{
        margin-right: -8px;
        margin-left: -8px;

        @include media-breakpoint-down(sm){
            margin-right: 0px;
            margin-left: 0px;
        }
    
        .plate--column{
            padding-left: 8px;
            padding-right: 8px;    
            
            @include media-breakpoint-down(sm){
                padding-left: 0px;
                padding-right: 0px; 
            }
        }    
    }
}



.fl-container {
    display: flex;

    &.fl-row{
        flex-direction: row;
    } 

    &.fl-row-reverse{
        flex-direction: row-reverse;     
    }
    
    &.fl-column{
        flex-direction: column;
    }

    &.fl-wrap{
        flex-wrap: wrap;
    }

    &.jc-start {
        justify-content: flex-start;
    }

    &.jc-center {
        justify-content: center;
    }

    &.jc-end {
        justify-content: flex-end;
    }

    &.jc-between {
        justify-content: space-between;
    }

    &.jc-around{
        justify-content: space-around;
    }

    &.jc-even{
        justify-content: space-evenly;
    }

    &.ai-center{
        align-items: center;
    }
}

.al-text{
    text-align: left;
    &.al-text-center{
        text-align: center;
        * {
            text-align:  center;
        }
    }
    &.al-text-left{
        text-align: left;
        * {
            text-align: left;
        }
    }
    &.al-text-right{
        text-align: right;
        * {
            text-align: right;
        }
    }
}

.pad{
    &-1{
        padding-left: 1rem!important;
    }
    &-2{
        padding-left: 2rem!important;
    }
    &-3{
        padding-left: 3rem!important;
    }
    &-4{
        padding-left: 4rem!important;
    }
    &-5{
        padding-left: 5rem!important;
    }
    &-6{
        padding-left: 6rem!important;
    }
    &-7{
        padding-left: 7rem!important;
    }
    &-8{
        padding-left: 8rem!important;
    }
    &-9{
        padding-left: 9rem!important;
    }
}

fieldset {
    padding: 0;
    border: none;
    outline: 0;
}
input[type=number]{
    @include border-radius(0);
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}