@import "./colors";
@import "libs/lib-general/**/*.scss";
@import "libs/lib-general/*.scss";
@import "libs/lib-swiper/swiper.scss";
@import "elements/**/*.scss";
@import "./functions";
@import "./global";
@import "./fonts";
@import "./ecommerce/ecommerce.scss";
@import "./authentication/authentication.scss";

html {
    scroll-behavior: smooth;
}

html, body {
    @include dimensions(100vw, 100vh);
}

html.config-mode, html.config-mode body{
    width: 100%;
}

body{
    background-color: $white;
    color: $black;
}

/* FONT & TEXT STYLING */
h1 {
    @include fonts(var(--font-font-1-link), var(--font-1), var(--font-1-line));
    margin: 0 0 0 0;
}

h2, .extern-header h1, .titel-element h1 {
    @include fonts(var(--font-font-1-link), var(--font-2), var(--font-2-line));
}

h3 {
    @include fonts(var(--font-font-1-link), var(--font-3), var(--font-3-line));
}

h4 {
    @include fonts(var(--font-font-1-link), var(--font-4), var(--font-4-line));
}

h5 {
    @include fonts(var(--font-font-1-link), var(--font-5), var(--font-5-line));
}

h6 {
    @include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
    font-weight: 400;
}

p, select, td, th, option, form, input,  ul, ol, li, textarea, label, button, input, iframe, table {
    @include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
}

.bold, b, strong{
    font-weight: bold;
}




/* SECTION STYLING */

.plate--container{
    .plate--row{
        .plate--column{
            &.column-offset{
                margin: 0 auto;
            }
        }
    }
}
.section-container {
    @include position(relative);
    @include dimensions(100%, auto);

    &.size_1_3 {
        .section-content {
            .section_image{
                width: calc(100% / 3);
            }

            .section_text{
                width: calc((100% / 3) * 2);
            }
        }
    }
    &.size_2_3 {
        .section-content {
            .section_image{
                width: calc((100% / 3) * 2);
            }

            .section_text{
                width: calc(100% / 3);
            }
        }
    }
    &.section-full-width{
        .plate--container{
            max-width: unset;
            padding-left: 0;
            padding-right: 0;
        
            .plate--row{
                margin-right: 0;
                margin-left: 0;
                .plate--column{
                    padding-right: 0;
                    padding-left: 0;

                    
                }
            }
        }
    }

    .background-layer{
        @include position(absolute);
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
    }

    .header-image{
        @include position(absolute);
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .section-content {
        @include position(relative);
        z-index: 2;

        &.section-content-no-gutter{
            .plate--container{
                .plate--row{
                    margin-right: 0;
                    margin-left: 0;

                    .plate--column{
                        padding-left: 0;
                        padding-right: 0
                    }
                }
            }

            [data-plate-object="row"][data-plate-dom-status="hovered"] [data-plate-object="column"], [data-plate-object="column"][data-plate-dom-status="hovered"] {
                background: rgba(224,224,224,0.5);
                background-clip: content-box;
                padding-left: 8px;
                padding-right: 8px;
            }

            [data-plate-object="row"][data-plate-dom-status="hovered"]{
                margin-right: -8px;
                margin-left: -8px;
            }
            
           
                   
        }
        .section_side{
            @include position(relative);
            width: 50%;
            padding: 100px 115px;
            min-height: 550px;

            h6{
                margin-bottom: 20px;
            }

            h2{
                margin-bottom: 20px;
            }

            p{
                margin-bottom: 30px;
            }
            &.light{
                h2{
                    color: var(--clr-3);
                }

                p{
                    color: var(--clr-3);
                }
            }

            &.dark{
                background-color: var(--clr-3);

                h2{
                    color: white;
                }

                p{
                    color: white;
                }
            }
        }
    }

}


picture {
    @include position(relative);
    display: block;
    line-height: 0;
    height: 0;

    img {
        top: 0;
        left: 0;
        width: 100%;
    }
}


/* 404 MESSAGE  */

.error-message {
    @include position(relative);
    @include dimensions(100%, 500px);
    z-index: 3;
}

/* VIDEO */
.video-element {
    --transition: all .5s ease;
    position: relative;
    width: 100%;
    overflow: hidden; 
    
    &__inner {
        position: relative;
        padding-top: 45%;
        width: calc(100% + 3px);
        left: -2px; 
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        
        iframe {
            width: inherit;
            height: inherit; 
        }
        
        &.video--loaded {
            z-index: 2; 
        }
    }

    &__thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__placeholder, &__thumbnail {
        width: 100%;
        height: 100%; 
    }
    
    &__placeholder {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; 
      
        picture {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit; 
        }

        img {
            object-fit: cover;
            -o-object-fit: cover;
            transform: scale(1.05);
            transition: var(--transition); 
            position: absolute;
            top: 0;
        }
    }
    &__play, img {
        width: 100%;
        height: 100%;
        transition: var(--transition); 
    }
    
    &__play {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: visible;
        opacity: 1; 
        
        &__btn {
            width: 9.2rem;
            height: 9.2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            border-radius: 100%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: var(--transition) !important; 

            svg {
                height: 100%;
                width: auto; 

                #circle{
                    @include ease(.3s);
                }
                
                path {
                    fill: #fff; 
                }
            }
        }
      
        &:before {
            content: "";
            position: absolute;
            width: 100% !important;
            opacity: .5;
            height: 100% !important;
            background-color: var(--clr-3);
            z-index: 1;
            transition: var(--transition) !important; 
        }
    }

    &:hover {
        .video-element{
            &__play{
                &__btn{
                    @include transform(translate(-50%, -50%) scale(1.1));
                    background-color: var(--clr-1);

                    svg{
                        #circle{
                            opacity: 0;
                        }
                    }
                }
                &:before{
                    background-color: white;
                    opacity: .75;
                }
            }
            
            &__placeholder{
                img{
                    @include transform(scale(1));
                }
            }
        }
    }
}

.lazy{
    opacity: 0;
    visibility: hidden;
}

.clicked{
    animation: pulsate2 1s ease-in-out 1s infinite alternate;
    -webkit-animation: pulsate2 1s ease-in-out 1s infinite alternate;
    pointer-events: none;
    opacity: .3;
}
/* CATEGORIES */
.categories-links{
    width: 100%;

    .cat-img{
        @include position(relative);
        height: 200px;
        width: 100%;
        background-size: contain;

        .full-link-btn{
            z-index: 6;
        }
        &::before{
            content: '';
            @include position(absolute);
            @include border-radius(0);
            @include dimensions(100%, 100%);
            left: 0;
            top: 0;
            background-color: var(--clr-3);
            opacity: 0;
            z-index: 1;
            @include ease(.3s);
        }

        h3{
            color: white;
            text-align: center;
            width: auto;
            margin-bottom: 0;
            display: inline-block;
            z-index: 5;

            @include position(relative);

            &::after{
                content: '';
                @include position(absolute);   
                bottom: 0px;
                width: 100%;
                opacity: 0;
                height: 1px;
                background-color: white;  
                left: 0;
                @include ease(.3s);
                @include transform(scale(1) translateY(4px));
            }
        }

        &:hover{
            &::before{
                opacity: .6;
            }

            h3{
                &::after{
                    opacity: 1;
                    @include transform(scale(1) translateY(0px));
                }
            }
        }
    }
}

/* USP */
.usp-list{
    position: relative;
    padding: 0 6%;

    @include media-breakpoint-down(md){
        padding: 0 0 0 0;
    }

    ul{
        margin-bottom: 0;

        li{
            margin-bottom: 0;
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
            list-style: none;

            svg{
                width: 1.4rem;
                margin-right: 1rem;
            }

            &:nth-last-child(1){
                margin-right: 0;
            }   
        }
    }
}


/* NAVIGATION STYLING */

.mega-menu{
    &__overlay{
        .navigation{
            &.dark{
                .navbar_nav {
                    .nav_item{
                        a {
                            color: white;
                        }
                    }
                }  
            }
        }
    }
}
.navigation {
    @include position(fixed);
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    @include ease(.3s);

    &.fix{

        .logo-normal{
            display: block;
        }
    }

    &.fixed-header{
        @include position(fixed);
        background-color: white;

        box-shadow: 0px 20px 25px -31px rgba(0, 0, 0, .14);

        .nav{
            margin-top: 0;
        
            &-top{
                &::after{
                    opacity: 0;
                }
            }
        }
    }

    &.scrll-down{
        @include transform(translateY(-100%));
    }

    &.scrll-up{
        @include transform(translateY(0%));
    }

    .nav{
        @include position(relative);
        height: 10.5rem;
        margin-top: 4.3rem;
        @include ease(.3s);
        background-color: white;
    
        @include media-breakpoint-down($breakpoint){
            height: 6.5rem;
        }

        &::after{
            content: "";
            position: absolute;
            height: 1px;
            width: calc(100% - 4rem);
            background-color: var(--clr-3);
            opacity: .1;
            bottom: -1px;
            left: 2rem;
            @include zIndex(20);
            
            @include media-breakpoint-down($breakpoint){
                width: calc(100% - 0rem);
                left: 0rem;
            }
        }

        &bar-container{
            background: white;
            z-index: 21;
            position: relative;
        }
        
        .plate--column{
            min-height: 4.3rem;
        }

        &-top{
            @include position(fixed);
            height: 4.3rem;
            width: 100%;
            background-color: white;
            z-index: 11;
            opacity: 1;
            @include ease(.3s);

            @include media-breakpoint-down(sm){
                .ranking{
                    display: none;
                }
            }

            &::after{
                content: '';
                z-index: 20;
                @include position(absolute);
                height: 1px;
                width: calc(100% - 4rem);
                background-color: var(--clr-3);
                opacity: .1;
                bottom: 0;
                left: 2rem;
                @include media-breakpoint-down($breakpoint){
                    width: calc(100% - 0rem);
                    left: 0rem;
                }
            }

            .slider{
                &-container {
                    @include position(relative);
                    width: 100%;
                }
            }
            .usp_slider{
                @include position(relative);
                overflow: hidden;

                @include media-breakpoint-down(sm){
                    height: 42px;
                }
                p{
                    margin-bottom: 0;
                    @include media-breakpoint-down(sm){
                        line-height: 42px;
                    }
                }

                .swiper{
                    &-slide{
                        p{
                            @include ease(.3s);
                            @include transform(scale(.8));
                        }

                        &-active{
                            p{
                                @include transform(scale(1));
                            }
                        }
                    }
                    &-btn{
                        &::after, &::before{
                            display: none;
                        }

                        &.swiper-button-prev, &.swiper-button-next{
                            height: 100%;
                            top: 0;
                        }

                        &.swiper-button-next{
                            @include transform(rotate(180deg));
                            @include media-breakpoint-down(sm){
                                right: 0;
                            }
                        }

                        &.swiper-button-prev{
                            @include media-breakpoint-down(sm){
                                left: 0;
                            }
                        }
                    }
                }
            
            }
        }
        &bar_inner {
            @include position(relative);
            padding-top: .5rem;
            padding-bottom: .5rem;
            min-height: 10.5rem;
            height: 10.5rem;

            @include media-breakpoint-down(sm){
                min-height: 6.5rem;
                height: 6.5rem;
            }

        }

        &bar_brand{
            @include position(absolute);
            margin-right: 0rem;
            height: calc(10.5rem + 4.9rem);
            padding: 2.6rem 2.4rem;
            top: 0;
            left: 50%;
            z-index: 99;
            @include transform(translateX(-50%));
            background-color: var(--clr-1);

            @include media-breakpoint-down(sm){
                padding: 1.7745rem 1.638rem;
                height: calc(100% + 3.35rem);
            }


            img{
                max-height: 100%;
                width: 6.4rem;
                
                @include media-breakpoint-down(sm){
                    width: 4.368rem;
                }
            }

            a{
                text-decoration: none;
            }
        }

        &bar_collapse{
            @include position(relative);
            width: 100%;
        }

        .shop-nav{
            margin-top: 3rem;
        }

        .nav_item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include position(relative);


            

            &.dropdown{
                margin-right: 20px;

                @include media-breakpoint-up($breakpoint){
                    svg{
                        width: 10px;
                        height: 7px;
                        @include position(absolute);
                        right: -20px;
                    }
                    height: 100%;
                }
            }
        
            .nav_link{
                color: black;

                &::after{
                    content: '';
                    @include position(absolute);   
                    bottom: 0px;
                    width: 100%;
                    opacity: 0;
                    height: 1px;
                    background-color: var(--clr-3);  
                    left: 0;
                    @include ease(.2s);
                    @include transform(scale(1) translateY(4px));
                }

                .pc{

                    &__cartsize{
                        margin-left: 9px;
                        padding: 6px;
                        background: var(--clr-3);
                        height: 23px;
                        min-width: 23px;
                        text-align: center;
                        margin-bottom: 0;
                        font-size: 11px;
                        line-height: 11px;
                        @include border-radius(15px);
                        color: white;
                        z-index: 2;
                        @include ease(.3s);
                    }
                }
            }

            &.cart{
                .nav_link{
                    &::after{
                        bottom: 0;
                        height: 24px;
                        width: 24px;
                        right: 0;
                        left: unset;
                        background-color: #83a979;
                        z-index: 0;
                        opacity: .1;
                        @include border-radius(100%);
                        @include transform(scale(.8));
                    }
                }

                &:hover{
                    .nav_link{
                        color: black;
                        &::after{
                            opacity: .1;
                            @include transform(scale(1.3));
                        }
                    } 

                    .pc{
                        &__cartsize {
                            background-color: #83a979;
                        }
                    }
                }
            }

            &.active, &:hover {
                .nav_link{
                    @include position(relative);
                    color: var(--clr-1);

                    &::after{
                        opacity: 1;
                        @include transform(scale(1) translateY(0));
                    }
                }               
            }
        }
        &bar_nav{
            @include position(relative);
            width: 100%;    
            list-style: none;
            margin-bottom: 0;
            
            .nav_item{
                margin-left: 3rem;
                
                @include media-breakpoint-down(lg){
                    margin-left: 1.8rem;
                }

                a{
                    text-decoration: none;
                    color: $white;
                }
  
            }

            .right{
                padding-left: 0px;

                li{
                    margin-left: 0;

                    .nav{
                        &_link{
                            font-size: var(--font-7);
                            line-height: var(--font-7-line);
                            font-weight: 700;
                        }
                    }
                }
            }

            .indicator{
                height: 5px;
                background-color: var(--clr-1);
                position: absolute;
                bottom: 0px;
                width: 0;
                opacity: 1;
                @include border-radius(var(--bdr-1));
                transform: translateX(-2.5px);
                -webkit-transform: translateX(-2.5px);
                -moz-transform: translateX(-2.5px);
                -ms-transform: translateX(-2.5px);
                -o-transform: translateX(-2.5px);
            }
        }
    }

    .menu-bar {
        position: relative;
        display: none;
        height: 5rem;
        width: 100%;
        background-color: var(--clr-5);
    }

    .mega-menu-container {
        position: relative;
        width: 100%;
        background: white;
        height: 0;
        opacity: 0;
        @include transition(height 0ms .4s, opacity .4s 0ms);
        display: block;
        overflow: hidden;

        &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: calc(100% - 4rem);
            background-color: var(--clr-3);
            opacity: .1;
            top: 0;
            left: 2rem;
            @include media-breakpoint-down($breakpoint){
                width: calc(100% - 0rem);
                left: 0rem;
            }
        }

        &.--mobile {
            display: none;

            @include media-breakpoint-down($breakpoint){
                display: block;
            }
        }
        ul{
            list-style: none;
            margin-bottom: 0;

            .nav_item{
                a{
                    text-decoration: none;
                    color: black;
                    font-size: var(--font-7);
                    line-height: var(--font-7-line);
                }

            }
        }
    
        .mega-menu-wrapper{
            @include position(relative);
        }

        .mega-menu{
            @include position(absolute);
            top: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;

            &.active{
                opacity: 1;
                visibility: visible;
                width: 100%;
                
            }

            &__nav{
                .nav_item{
                    margin-bottom: 5px;
                }

                &.products-nav{
                    max-height: 20rem;

                    @include media-breakpoint-down(sm){
                        max-height: unset;
                    }
                    .nav_item{
                        padding-right: 6rem;

                        @include media-breakpoint-down(sm){
                            padding-right: 2.5rem;
                        }
                    }
                }
            }


        }


        .column{
            
            &.mega-menu__contact{
                margin-left: 0;
                width: auto;
                margin-right: 6rem;
                p{
                    color: $white;
                }

                .social-share-items{
                    margin-top: auto;

                    .social-link{
                        color: $white;
                    }
                }
            }
        }
        
        .mega-menu-wrapper{
            .nav_item{
                a {
                    @include position(relative);
                    text-decoration: none;
                    color: black;
                }
            } 
            .show-mobile{
                display: none;
            }

            .mega-menu{
                padding-top: 4.7rem;
                padding-bottom: 4.7rem;
            }
        }
    }

    &.mega-menu__active{
        background-color: var(--clr-3);

        .navbar_inner{
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .mega-menu-container{
            opacity:1;
            @include transition(height 0ms .0s, opacity .4s 0ms);
            height:auto;
        }

        
        .logo-diap{
            display: none;
        }

        .logo-normal{
            display: block;
        }
    }

    .logo-diap{
        display: none;
    }

    .mega-menu{
        width: 100%;
    }
}

/* DROPDOWN STYLING */

.dropdown-menu.active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: none;
    min-width: 100px;
    padding: 10px 0;
    margin: 0 0 0 0;
    @include border-radius(0);
}

.dropdown{
    &-menu{
        &-small{
            position: absolute;
            top: 4.5rem;
            left: -2.8rem;
            padding: 1.3rem 2.8rem 2.8rem;
            background: var(--clr-5);
            min-width: 20rem;
            visibility: hidden;
            opacity: 0;
            @include ease(.2s);
            @include transform(scale(.97) translateY(.5rem));
            box-shadow: 6px 20px 20px -14px rgba(0, 0, 0, 0.149);
            
            .dropdown-item{
                padding: 0 0 0 0;
                margin-bottom: 2.2rem;

                &-last{
                    margin-bottom: 0;
                }
            }
        }
    }

   

    &:hover{
        .dropdown{
            &-menu{
                &-small{
                    visibility: visible;
                    opacity: 1;

                    @include transform(scale(1) translateY(0rem));
                }
            }
        }
    }
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 15px;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    text-decoration: none;
}

/* NAVBAR TOGGLER STYLING */

.navbar{

    &-toggler {
        background-color: transparent;
        display: none;
        padding-right: 0;
        z-index: 100;
        outline: none;
        border: none;

        .bars {
            @include position(relative);
            height: auto;
            width: 20px;
        
            .bar {
                @include dimensions(100%, 1px);
                background: var(--clr-1);
                margin-bottom: 4px;
                -webkit-transition: all .15s linear;
                -moz-transition: all .15s linear;
                -ms-transition: all .15s linear;
                -o-transition: all .15s linear;
                transition: all .15s linear;
            }
        }

        &:focus {
            outline: none;
        }
    }
}

.menu-open{
    .bars {
        margin: 0;

        .bar{
            &.bar-1{
                transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -webkit-transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -moz-transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -ms-transform: translateY(5px) rotate(45deg) scaleX(1.2);
                -o-transform: translateY(5px) rotate(45deg) scaleX(1.2);        
            }

            &.bar-2{
               opacity: 0;
               transform: scale(0);
               -webkit-transform: scale(0);
               -moz-transform: scale(0);
               -ms-transform: scale(0);
               -o-transform: scale(0);
            }

            &.bar-3{
                transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -webkit-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -moz-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -ms-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
                -o-transform: translateY(-5px) rotate(-45deg) scaleX(1.2);
            }
        }
    }

    &.navigation{
        .logo{
            &-normal{
                display: block;
            }

            &-diap{
                display: none;
            }
        }
    } 
} 
    



/* BUTTONS */


.button-wrapper {
    display: flex;

    &.lef{
        justify-content: flex-start;
    }

    &.mid{
        justify-content: center;
    }

    &.rig{
        justify-content: flex-end;
    }

    .button-wrapper-inner{
        @include position(relative);
    }

    .button, button {
        @include position(relative);
        display: inline-block;
        background-color: var(--clr-3);
        border: 1px solid transparent;
        cursor: pointer;
        @include transition(.3s);
        @include border-radius(var(--bdr-2));
    
        a, input, p, button {
            @include position(relative);
            @include dimensions(100%, 100%);
            @include fonts(var(--font-font-3-link), var(--font-5), var(--font-5));
            -webkit-appearance: none;
            border: 0;
            background: none;
            text-align: center;
            display: block;
            color: $white;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            padding: 15px 29px 16px;
            margin-bottom: 0;
            @include transition(.3s);
        }

        &:hover{
            background-color: white;
            border-color: var(--clr-3);
            a, input, p, button {
                color: var(--clr-3)
            }

            &:after{
                background-color: var(--clr-3);
            }
        }
        &.light{
            background-color: $white;

            a, input{
                color: var(--clr-3);
            }
        }

        &.dark{
            background-color: var(--clr-3);

            a, input{
                color: $white;
            }

            
        }

        &.border{
            background-color: #fff;
            border: 1px solid var(--clr-3);
            a, input, button, p {
                color: var(--clr-3);
            }
            &.with-arrow{
                &::after{
                    background-color: var(--clr-3);
                }
            }
            &:hover{
                background-color: var(--clr-3);
                a, input, button, p {
                    color: white;
                }
                &.with-arrow{
                    &::after{
                        background-color: white;
                    }
                }
            }
        }
        
        &.cta{
            background-color: rgb(131, 169, 121);
            &.border{
                background-color: #fff;
                border: 1px solid rgb(131, 169, 121);
                a, input, button, p{
                    color: rgb(131, 169, 121);
                }

                &.with-arrow{
                    &::after{
                        background-color: rgb(131, 169, 121);
                    }
                }
            }

            &:hover{
                background-color: #fff;
                border: 1px solid rgb(131, 169, 121);
                a, input, button, p{
                    color: rgb(131, 169, 121);
                }

                &.with-arrow{
                    &::after{
                        background-color: rgb(131, 169, 121);
                    }
                }
            }
        }

        &.with-arrow{
            
            padding-right: 0px;

            a, input, p, button {
                padding: 15px 49px 16px 29px;
            }

            &::after{
                content: '';
                display: inline-block;
                width: 15px;
                height: 10px;
                background-color: white;
                -webkit-mask: url("/theme/assets/images/arrow.svg") no-repeat 50% 50%;
                mask: url("/theme/assets/images/arrow.svg") no-repeat 50% 50%;
                -webkit-mask-size: cover;
                mask-size: cover;
                @include position(absolute);
                top: 50%;
                right: 40px;
                @include transform(translateY(-50%) translateX(100%));
            }

            &:hover{
                &::after{
                    background-color: var(--clr-3);
                }
            }
        }
    }
}


/* HEADER */
.slider{
    &-container{
        &-header{
            @include position(relative);
        }
    }
}


.header {
    @include position(relative);
    padding: 29.5rem 0 18.2rem;
    margin-top: 14.8rem;
    @include media-breakpoint-down(sm){
        margin-top: 10.6rem;
    }

    &-title{
        @include fonts(var(--font-font-1-link), 13.3vw, 13.3vw);
        @include position(absolute);
        font-weight: bold;
        width: 110vw;
        left: -1.5vw;
        top: 50%;
        @include transform(translateY(-60%));

        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
                             
        @include media-breakpoint-down(md){
            width: 105vw;
            display: flex;
            flex-flow: row wrap;
            @include fonts(var(--font-font-1-link), 20vw, 20vw);
            font-weight: bold;

            span{
                &:nth-child(2n){
                    margin-left: auto;
                }
            }
        }
    }

    &_slider{
        .swiper{
            &-slide{
                height: auto;
                .header{
                    height: 100%;
                }
            }
        }
    }

    &.empty_img{
        background-color: var(--clr-3);
        padding: 19.1rem 0 14rem;


        @include media-breakpoint-down(md){
            margin-top: 10.8rem;
        }

        
        &::before{
            content: '';
            display: none;
        }
    }

    &.min_img{
        padding: 0 0 32rem;
    }

    &_inner {
        @include position(relative);    
        z-index: 1;
        max-width: 50%;

        &_center{
            margin: 0 auto;
        }

        h1, p {
            color: $white;
        }

        p:nth-last-child(1){
            margin-bottom: 0;
        }

        p.intro{
            margin-top: 2.4rem;
        }
        
        .upload-date{
            margin-top: 2rem;
        }
    }

    &_button{
        margin-top: 3.4rem;
    }

    &.--nhome{
        padding: 10rem 0 9rem;

        &::before{
            content: "";
            @include position(absolute);
            background: var(--clr-1);
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: .65;    
        }
    }
    

    .breadcrumbs {
        p{
            margin-top: 0;
            margin-bottom: 1.5rem;
            color: white; 
            font-weight: bold;
        }

        a {
            color: white;
            text-decoration: none;
        }

    }

    &_image{
        @include position(relative);
        margin-top: -17rem;
        padding-top: 56.25%;
        margin-bottom: 5rem;

        h6{
            @include position(absolute);
            margin-bottom: 0;
            left: 30px;
            bottom: 28px;
            color: white;
            opacity: .5;
        }
    }
    .theme {
        &_0{
            max-width: unset;
            align-items: center;

            * {
                text-align: center;
            }
        }
    
    }
}
.scrolldown{
    cursor: pointer;
    position: absolute;
    height: 7.5rem;
    width: 7.5rem;
    bottom: 0;
    left: 50%;
    z-index: 2; 
    

    @include transform(translate(-50%, 50%)); 

    &.scrolldown{
        &-custom{
            .scrolldown{
                &_inner{
                    @include border-radius(0);
                    @include bg-color(transparent);
                    width: 100%;
                    height: 100%;
                    margin-top: 0;
                    margin-left: 0;
            
                    &::before, &::after{
                        display: none
                    }
                }
            }
        }
    }
    &_inner{
        @include position(relative);
        @include border-radius(var(--bdr-1));
        @include bg-color(var(--clr-1));
        width: 70%;
        height: 70%;
        margin-top: 15%;
        margin-left: 15%;

        &::after{
            content: "";
            @include position(absolute);
            @include border-radius(var(--bdr-1));
            @include bg-color(var(--clr-1));
            top: -1.25rem;
            left: -1.25rem;
            height: calc(100% + 2.5rem);
            width: calc(100% + 2.5rem);
            opacity: .2;
            z-index: -1;
            @include pulsate;
        }

        &::before{
            content: url('/theme/assets/images/scrolldown.svg');
            @include position(absolute);
            bottom: -0.6rem;
            left: 50%;
            @include transform(translate(-50%, -50%)); 
        }
    }
}

.categories{
    @include position(relative);
    margin-top: 4rem;

    .category {
        
        pointer-events: auto;
        @include position(relative);
        
        margin: 0 .5rem .5rem;
    
        a, span{
            color: black;
            padding: .5rem 4rem;
        }

        &::before{
            content: '';
            @include position(absolute);
            top: 0rem;
            left: 0;
            width: 18px;
            height: 18px;
            border: 1px solid var(--clr-1);
            background: transparent;
            @include ease(.3s);
            opacity: .3;
        }

        &.checked{
            &::before{
                border-color: var(--clr-3);
                background: var(--clr-3);
                opacity: 1;
            }
        }

        input {
            cursor: pointer;
            pointer-events: auto;
            @include position(absolute);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }

    &.pc__categories{
        margin-bottom: 6rem;
        margin-top: 0;


        @include media-breakpoint-down(sm){
            margin-bottom: 0;
        }

        h3{
            color: var(--clr-3);
            margin-bottom: 2.5rem;
        }
        .category{
            margin-left: 0;
            margin-right: 0rem;
    
            a{
                @include position(relative);
                font-size: var(--font-7);
                line-height: var(--font-7-line);
                text-decoration: none;
            }

        }
    }
}

/* EXTERN HEADER */ 
.extern-header{
    @include position(relative);
    padding-top: 10rem;
    padding-bottom: 5rem;

    h1{
        max-width: 700px;
    }

    &.pc_header{
        padding-top: 5.6rem;
        padding-bottom: 0rem;

        h1{
            font-size: var(--font-1);
            line-height: var(--font-1-line);
            color: var(--clr-3);
        }

        .pc__description_index{
            p{
                margin-top: 2.5rem;
                margin-bottom: 0;   
            }

            ul{
                padding-left: 17px;
            }
        }

       
    }
}

.last__related__products{
    position: relative;
    padding-top: 3.2rem;
    margin-top: 6rem;

    h2{
        position: relative;
        margin-bottom: 0;
        margin-top: 2.8rem;
        color: var(--clr-3);
    }
    
    .pc__product.pc__product__item__index{
        padding-top: 0!important;
        padding-bottom: 0!important;
        width: 48%;
        margin-top: 2.8rem;
        .pc__product__title  {
            width: 70%;
        } 
        .pc__product__prices{
            width: 30%;
        }
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 12rem);
        height: calc(100% + 6rem);
        background: #f9f9f9;
        left: -6rem;
    }
}
/* POSTS INDEX */
.post-wrapper{
    @include position(relative);
    background-color: $grey;
}
/* POST ITEM */
.items-container{
    @include position(relative);
    margin-bottom: 8rem;
    
    &.content-up{
        margin-top: -6.7rem;
    }

    &.related-container{
        margin-bottom: 0;
    }
}

.item {
    @include position(relative);
    width: calc(1 / 3 * 100% - (4rem / 3));
    margin-right: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    padding: 0 0 0 0;

    &_background{
        &_cover{
            .item{
                &_image{
                    background-color: transparent;
                }
                &_content{
                    @include position(relative);
                    background-color: transparent;
                    color: white;   
                    justify-content: flex-end!important;

                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        @include bg-color(var(--clr-3));
                        opacity: .3;
                        z-index: 1;
                    }

                    h6, h3, p{
                        color: white;
                    }
                }
            }
        }
    }

    h6{
        margin-bottom: 1.3rem;
        font-weight: 400;
    }

    p{
        margin-bottom: 1.3rem;
    }
    h3{
        margin-bottom: 1.3rem;
    }
    
    &:nth-child(3n){
        margin-right: 0;
    }

    &_inner{
        @include position(relative);

        p{
            margin-bottom: 0;
        }
        .testimonial{
        
            h5{
                color: var(--clr-3);
            }
            .stars{
                @include position(relative);
                margin-top: 2.9rem;
                &_filled{
                    @include position(absolute);
                    color: var(--clr-3);
                    top: 0;
                    left: 0;
                }

                &_unfilled{
                    color: var(--clr-3);
                    opacity: .3;
                }
            }
        }
    }

    &_image{
        @include position(relative);
        height: 21.8rem;
        background-color: var(--clr-3);
    }

    &_content{
        padding: 4rem 4rem 2.7rem 4rem;
        color: var(--clr-3);
        background-color: $white;

        &_inner{
            z-index: 3;
            width: 100%;
        }
    }

    &_category{ 
        color: var(--clr-1);
    }

    &.amount-1{
        width: 100%;
        margin-right: 0;
    }
}

.person{
    margin-bottom: 3rem;
    width: 100%;

    &_image{
        @include border-radius(100%);
        width: 6.6rem;
        height: 6.6rem;
        margin-right: 2rem;
    }

    &_title{ 
        width: calc(100% - 8.6rem);
        p{
            color: var(--clr-3);
            margin-bottom: 0;
        }

        .small{
            font-size: 1.5rem;
        }    
    }

    &.person-no-img{
        .person{
            &_title{
                width: 100%;
            }
        }
    }
}

/* POSTS TRAY */
.project-tray{
    @include hidden;

    .plate--row{
        @include position(relative);

        .color__background{
            @include cover;
            @include transform(scaleX(5));
            z-index: -1;
        }
    }
}

/* CTA */
.plate--element__cta{
    &--align{
        height: 100%;
        background-color: white;

       .cta{

            &:hover{
                .cta_image{
                    @include transform(scale(1.1));

                    @include media-breakpoint-down(sm){
                        @include transform(translateX(30%) scale(1.1))
                    }
                }
            }
            
            &--align-others{
                height: 100%;
            }

            a{
                &.full-link-btn{
                    z-index: 6;
                }
            }

            &_inner{
                z-index: 2;
                height: 100%;
                @include position(relative);
                padding: 4.2rem;
                background-color: var(--clr-3);

                @include media-breakpoint-down(sm){
                    padding: 4rem;
                    min-height: 15rem;
                }
                
                &_content{
                    @include dimensions(70%, 100%);
                    z-index: 3;
                    p{
                        margin-bottom: 17px;
                        @include media-breakpoint-down(sm){
                            margin-bottom: 0;
                        }
                    }
                }

                .button{
                    &-wrapper{
                        z-index: 3;
                        margin-top: auto;
                        @include media-breakpoint-down(sm){
                            margin-bottom: auto;


                        }
                    }
                }
            }

            &_image{
                position: absolute;
                top: 2rem;
                right: 3.5rem;
                height: calc(100% - 4rem);
                width: 40%;
                z-index: 1;
                @include ease(.5s);

                @include media-breakpoint-down(sm){
                    top: -1rem;
                    right: 0;
                    height: calc(100% + 2rem);
                    @include transform(translateX(30%))
                }
            }

           
        }
    }
}
.cta{
    @include position(relative);
    overflow: hidden;

    h2{
        margin-bottom: 2.1rem;
    
    }

    p{
        margin-bottom: 3.7rem;
    }

    &.dark{
        h2, p{
            color: var(--clr-3);
        }
    }

    &.light{
        h2, p{
            color: $white;
        }
    }
}

/* LOGO */
.logos{
    @include position(relative);
    background-color: white;
    
    &-column{
        width: 50%;
        flex-basis: 50%!important;
        max-width: 50%!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-bottom: 10px;
        @include media-breakpoint-up(md){
            width: 20%;
            flex-basis: 20%!important;
            max-width: 20%!important;
        }

        @include media-breakpoint-down(md){
            &:nth-last-child(1){
                margin: 0 auto;
            }
        }

        
    }

    .logo{
        @include position(relative);
        margin-bottom: 2rem;
        &.gray {
            width: 13%;
            filter: grayscale(50) brightness(0) invert(0);
            -webkit-filter: grayscale(50) brightness(0) invert(0);
            opacity: .3;
            padding-bottom: 7%;
        }
    }
}
/* SLIDER */
.slider-container {
    .product_slider_thumbs{
        width: 100%;
        margin-top: 3rem;
        @include media-breakpoint-down(md){
            margin-top: 2rem;
        }
        .swiper{
            &-slide{
                border: 1px solid var(--clr-3);

                .pc{
                    &__product{
                        &__media{
                            &__item{
                                @include media-breakpoint-down(md){
                                    padding-top: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .related__products, .categories-links{
        overflow: visible;
    }
    .swiper{
        &-button{
            &-next{
                &.rel{
                    &-btn{
                        &-next{
                            right: -2.4rem;
                            height: 4.8rem;
                            width: 4.8rem;
                            border: 1px solid var(--clr-3);
                            @include border-radius(100%);
                            background-color: white;
                            @include ease(.3s);

                            path{
                                stroke: var(--clr-3);
                                @include ease(.3s);
                            }

                            &:hover{
                                border-color: var(--clr-1);

                                path{
                                    stroke: var(--clr-1);
                                }
                            }

                            svg{
                                @include transform(rotate(180deg))
                            }

                            &::after{
                                content: '';
                            }    

                            &.swiper-button-disabled{
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            &-prev{
                &.rel{
                    &-btn{
                        &-prev{
                            left: -2.4rem;
                            height: 4.8rem;
                            width: 4.8rem;
                            border: 1px solid var(--clr-3);
                            @include border-radius(100%);
                            background-color: white;
                            @include ease(.3s);
                            
                            
                            path{
                                stroke: var(--clr-3);
                                @include ease(.3s);
                            }
                           
                            &:hover{
                                border-color: var(--clr-1);

                                path{
                                    stroke: var(--clr-1);
                                }
                            }
                            
                            &::after{
                                content: '';
                            }   
                            
                            &.swiper-button-disabled{
                                opacity: 0;
                            }
                        }  
                    }
                }
            }
        }
    }
    .slider {
        &.swiper-container-horizontal > .swiper-scrollbar{
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            opacity: 1!important;
        }


        &_item{
            margin-bottom: 3rem;
        }

        .swiper-scrollbar{
            @include border-radius(0);
            background-color: rgba(255, 255, 255, 0.3);
        }

        .swiper-scrollbar-drag{
            background: $white;
            border-radius: 0;
        }

        &.images_slider{
            @include position(relative);
            overflow: visible;
            .swiper-slide{
                padding-top: 60%;
            }

            .swiper-button{
                height: 48px;
                width: 48px;
                background-color: var(--clr-3);
                right: unset;
                left: -48px;
                top: unset;
                bottom: 0;
                @include border-radius(var(--bdr-1));
                @include transform(translateX(-100%));  

                &.swiper-button-next{
                    bottom: 5.6rem
                }

                &::after{
                    display: none;
                }
            }
        }
        &.testimonial_slider, &.project_slider{
            .swiper{
                &-slide{
                    height: auto;
                    .slider{
                        &_item{
                            height: calc(100% - 3rem);

                            
                            .item{
                                &_inner{
                                    height: 100%;
                                }

                                &_content{
                                    height: calc(100% - 21.8rem);
                                    @include flex-cs;
                                
                                    &.testimonial{
                                        @include flex-ss;
                                        height: 100%;
                                        margin-bottom: 0;
    
                                        h5{
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                
                            }
                            
                        }
                    }
                }
            }
        }
        &.testimonial_slider, &.header_slider{
            overflow: visible;
            .swiper-pagination{
                position: relative;
                bottom: unset;

                &-bullet {
                    @include position(relative);
                    border: none;
                    background: var(--clr-3);
                    opacity: 0.3;
                    width: 7px;
                    height: 7px;
                    margin: 0 5.5px;

                    &::before{
                        content: '';
                        @include position(absolute);
                        top: -2px;
                        left: -2px;
                        height: 100%;
                        width: 100%;
                        border: 2px solid var(--clr-3);
                        background-color: transparent;
                        @include border-radius(var(--bdr-1));
                        transition: all .3s ease-in-out;  
                        opacity: 0;
                    }

                    &-active{
                        opacity: 1;
                        background-color: transparent;
                        margin: 0 7.5px;

                        &::before{
                            opacity: 1;
                        }
                    }   
                }

                &.swiper-pagination-header{
                    position: absolute;
                    bottom: 8rem;

                    .swiper-pagination{
                        &-bullet{
                            background: white;
    
                            &::before{
                                border: 2px solid white;
                            }
                            
                            &-active{
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }


    }

    h2{
        margin-bottom: 3rem;
    }

    &.light{
        h2{
            color: white;
        }
        .swiper-scrollbar{
            background-color: rgba(255, 255, 255, 0.3); 
        }

        .swiper-scrollbar-drag{
            background: $white;
        }
    
    }

    &.dark{
        h2{
            color: var(--clr-3);
        }
        .swiper-scrollbar{
            background-color: rgba(0, 0, 0, 0.3); 
        }

        .swiper-scrollbar-drag{
            background: var(--clr-3);
        }
    }
}

.ce-element{
    &.ce-element--type-list{
        list-style: disc;
    }

    &.ce-element--type-list-item{
        list-style: disc;
        font-size: 1.7rem;
    }

    &.ce-element--type-list-item-text{
        font-size: 1.7rem;
        line-height: 2.3rem;
    }
}
/* PARAGRAPH */
.paragraph {
    @include position(relative);
    
    p, h2, h3, h4, h5, h6{
        &:nth-last-child(1){
            margin-bottom: 0;
        }
    }
    ul{
        list-style: none;
        padding-left: 1.2rem;
        margin-bottom: 2rem;

        li {
            @include position(relative);

            &::before{
                content: "";
                position: absolute;
                top: 1rem;
                left: -1.2rem;
                height: 4px;
                width: 4px;
                background-color: var(--clr-3);
                @include border-radius(var(--bdr-1));
            }
        }
    }
}

/* VIDEO */
.video {
    overflow: hidden;
    @include position(relative);
    padding-top: 58.55%;
    
    iframe{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .thumbnail{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: var(--clr-3);
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;

        svg {

            width: 63px;

            path{
                fill: var(--clr-1)
            }
        }

        &.active-vid{
            filter: saturate(2);
            -webkit-filter: saturate(2);
            @include transform(translateY(100%));   
        }
    }
} 
/* LINKS */
.link_wrapper{
    position: relative;
    padding: 0 calc(100% / 12) 12rem;
    background-color: var(--clr-3);

    &.pos_rb, &.pos_ro {
        .link_wrapper_inner{ 
            margin-left: auto;
        }
    }

    &.pos_lo, &.pos_ro{
        padding-top: 12rem;
        padding-bottom: 0;
        .link_wrapper_inner{ 
            margin-top: 12rem;
            margin-bottom: 0rem;
        }
    }
    
    &.outside{
        &.pos_lb, &.pos_rb{
            margin-top: 5rem;
            .link_wrapper_inner{ 
                margin-top: -5rem;
                margin-bottom: 17rem;
            }
        }

        &.pos_lo, &.pos_ro{
            margin-bottom: 5rem;
            .link_wrapper_inner{ 
                margin-top: 17rem;
                margin-bottom: -5rem;
            }
        }
    }

    &_inner{
        display: inline-block;
        background: white;
        padding: 3rem 4rem 0;
        margin-bottom: 12rem;
    }

    .link-mobile-img{
        display: none;
    }

    &.no-img{
        padding: 0 0 0 0;
        .link_wrapper_inner{
            margin-bottom: 0;
            width: 100%
        } 
    }
    h2{
        margin-bottom: 1.2rem;
        color: var(--clr-3)
    }

    a{
        position: relative;
        color: var(--clr-3);
        text-decoration: none;
    
        &::before{
            content: "";
            position: absolute;
            top: 2.7rem;
            left: -0.5rem;
            height: 0.8rem;
            width: 0.8rem;
            background: transparent;
            border: 1px solid var(--clr-1);
            border-top: none;
            border-left: none;
            border-radius: 0px 0px 2px 0;
            @include transform(rotate(-45deg)); 
        }

        &:nth-last-child(1) .link{
            border-bottom: none;
            padding-bottom: 3.9rem;
        
            &::after{
                display: none;
            }
        }
        .link {
            @include position(relative);
            min-width: 28rem;
            padding: 2.1rem 1rem 2.41rem 1.5rem;

            &::after{
                content: '';
                background-color: $grey;
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                @include position(absolute);
            }
            p{
                margin-bottom: 0;
            }
        }
    }
}

/* COLLECTION */
.collection{
    position: relative;
    min-height: 47rem;
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--clr-3);
        opacity: .3;
    }

    .collection_inner {
        position: relative;
        z-index: 1;
        padding: 3.7rem 4rem;
        
        h2, p{
            color: $white;
        }

        p{
            margin-top: 1rem;
            @include fonts(var(--font-font-3-link), 1.3rem, 2.4rem); 
        }

        h2{
            margin-bottom: 1rem
        }
    }

}

/* USPS */
.usp{
    @include position(relative);
    padding: 0 4rem;

    &_icon{
        @include position(relative);
        color: var(--clr-3);
        font-size: 4.2rem;
        margin-left: -0.11em;
        margin-bottom: 2.62rem;
        height: 4.2rem;
        width: 4.2rem;

        &.ups_img{
            margin-left: 0;
            background-position: left bottom;
        }
    }

   

    h3{
        margin-bottom: 1.6rem;
        color: var(--clr-3);
    }

    p{
        color: var(--clr-3);
        margin-bottom: 0;
    }

    
}

input:focus{
    outline: none;
}

/* RANKING */
.ranking{
    &-star{
        @include position(relative);
        margin: 0 1px;
        width: 14px;

        &-background{
            @include position(absolute);
            top: 0;
            left: 0; 
            height: 100%;
            width: 100%;
            opacity: .5;
        } 
    }

    p{
        margin-bottom: 0;

        &.ranking {
            &-total {
                margin-left: .7rem;
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
        
            &-link {
                margin-left: 1.9rem;
                font-size: 11px;
                line-height: 13px;

                a{
                    text-decoration: underline;
                }
            }
        }
    }
}
/* FORM */
form{
    h3{
        margin-bottom: 1rem;
        color: var(--clr-3);
        font-size: 2.1rem;
        line-height: 3.2rem;
    }

    p{
        margin-bottom: 2rem;
        color: var(--clr-3);
    }

    h5{
        margin-bottom: 1rem;
        margin-top: 3.1rem;
        color: var(--clr-3);
    }

    .form-button{
        margin-top: 2rem;
    }
}

.fields-wrapper{
    .select-arrow{
        svg{
            width: 10px;
        }
    }
    .form-field-container{
        margin-bottom: 3rem;
        width: 100%;

        @include media-breakpoint-down(sm){
            margin-bottom: 1.5rem;
            &:nth-last-child(1){
                margin-bottom: 3rem;
            }
        }
        
        &:nth-child(1){
            h5{
                margin-top: 0;
            }
        }

        .form-field{
            @include position(relative);

            .option{
                label {
                    color: black;
                }
            }

            &.text, &.email, &.textarea, &.time, &.date {
                input, textarea {
                    @include position(relative);
                    padding: 1.55rem 1.8rem;
                    color: black;
                    font-size: var(--font-6);
                    line-height: 100%;
                    width: 100%;
                    margin-left: 1px;
                    margin-top: 1px;
                    background-color: white;
                    @include border-radius(var(--bdr-3));
                    z-index: 1;
                    border: none;
                    outline: none;
                    margin-bottom: 0;

                    ::placeholder{
                        color: black
                    }
                }

                textarea{
                    min-height: 19.3rem;
                    width: 100%;


                    @include media-breakpoint-down(sm){
                        min-height: 10rem;
                    }
                }

                ::placeholder{
                    color: rgba(0, 0, 0, 0.7);
                }

                &::after{
                    content: '';
                    @include position(absolute);
                    @include border-radius(0);
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border: 1px solid var(--clr-3);
                    opacity: .1;
                }
            }

            &.select{
                select{
                    @include position(relative);
                    -webkit-appearance: none;
                    padding: 1.55rem 0;
                    color: var(--clr-3);
                    font-size: var(--font-6);
                    line-height: 100%;
                    width: 100%;
                    margin-left: 1px;
                    margin-top: 1px;
                    background-color: transparent;
                    @include border-radius(0);
                    z-index: 1;
                    border: none;
                    outline: none;
                    margin-bottom: 0;
                    color: black;
                }

                .select-arrow{
                    @include position(absolute);
                    top: 0;
                    line-height: 0;
                    top: 50%;
                    @include transform(translateY(-50%)); 
                    right: 0;
                }

                &::after{
                    content: '';
                    @include position(absolute);
                    @include border-radius(0);
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-bottom: 1px solid var(--clr-3);
                    opacity: 1;

                }
            }



            &.file{
                input{
                    -webkit-appearance: none;
                    color: var(--clr-3);
                    
                    &::-webkit-file-upload-button {
                        visibility: hidden;
                        width: 1px;
                    }

                    &::before{
                        content: 'Kies bestand';
                        color: white;
                        background-color: var(--clr-1);
                        display: inline-block;
                        padding: 12px 29px 13px 29px;
                        outline: none;
                        white-space: nowrap;
                        -webkit-user-select: none;
                        cursor: pointer;
                        font-weight: 400;
                        @include fonts(var(--font-font-3-link), var(--font-5), var(--font-5-line));
                        @include border-radius(var(--bdr-2));
                    }

                    &.trash{
                        &:after{
                            content: url('/theme/assets/images/cross.svg');
                            height: 10px;
                            width: 10px;
                            position: absolute;
                            top: 50%;
                            margin-left: 17px;
                            @include transform(translateY(-50%));   
                            line-height: 0;
                        }
                    }
                }
            }
            /* &.date{
                &::-webkit-calendar-picker-indicator {
                    
                }
            } */

            &.checkbox{
                .option{
                    margin-top: 3px;

                    &:nth-child(1){
                        margin-top: 0;
                    }
                    input{
                        position: relative;
                        -webkit-appearance: none;
                        border: 0;
                        padding: 8px;
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                        background-color: transparent;
                        transition: all .4s ease;
                        @include transform(translateY(3px));   

                        &::before{
                            content: "";
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            height: 100%;
                            width: 100%;    
                            border: 1px solid var(--clr-3);
                            @include ease(.4s);
                            opacity: .1;
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            height: calc(100% - 6px);
                            width: calc(100% - 6px);
                            background-color: transparent;
                            @include ease(.4s);
                        }

                        &:checked{
                            &::after{
                               background-color: var(--clr-3);
                            }
                        }
                    }
                }
            }

            &.radio{
                .option{
                    margin-right: 3rem;
                    margin-bottom: 1.5rem;

                    input{
                        margin-right: 10px;
                        position: relative;
                        -webkit-appearance: none;
                        border: 0;
                        padding: 7px;
                        width: 16px;
                        height: 16px;
                        border-radius: 100%;
                        background-color: transparent;
                        @include ease(.4s);
                        @include transform(translateY(3px));   

                        &::before{
                            content: "";
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            height: 100%;
                            width: 100%;    
                            border: 2px solid var(--clr-3);
                            @include ease(.4s);
                            border-radius: 100%;
                            opacity: .1;
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            height: calc(100% - 6px);
                            width: calc(100% - 6px);
                            background-color: transparent;
                            border-radius: 100%;
                            @include ease(.4s);
                        }

                        &:checked{
                            &::after{
                               background-color: var(--clr-3);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* COMPANY */
.company{
    &.company-background{
        padding: 4rem;

        p{
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
    .bold{
        margin-bottom: 1.7rem
    }

    a{
        text-decoration: none;
        color: var(--clr-3);
    }
}

/* SEARCH */
.search-results{
    padding-top: 100px;
    padding-bottom: 100px;
    .accordion{
        &__item{
            @include position(relative);
            margin-bottom: 3rem;

            &__image{
                padding-top: 100px;
                height: 100px;
                width: 100px;
                border: 1px solid var(--clr-3);
                margin-right: 30px;
                background-position: center center;
                background-size: cover;
            }
            
            &__header{
                h3{
                    color: var(--clr-3);
                    margin-bottom: 10px;

                    a{
                        color: inherit;
                    }
                }
            }
        }

        &__content__wrap{
            width: calc(100% - 130px);
        }
    }
}
.product__search__input{
    @include position(relative);

    form{
        max-width: 200px;
    }

    input{
        z-index: 2;
        background-color: transparent;
        border: none;   
        opacity: 1;
        visibility: visible;
        @include ease(.3s);
        padding-left: 30px;
        text-align: left;

        &.hide{
            opacity: 0;
            visibility: hidden;
        }
    }

    svg{
        @include position(absolute);
        top: 4px;
        left: 0;
        width: 14px;
        height: 14px;
    }
}
/* MENU */
.menu-element{
    h3{
        font-size: var(--font-7);
        line-height: var(--font-7-line);
    }

    @include media-breakpoint-down(md){
        h3{
            margin-top: 3rem;
           
            &.empty{
                display: none;
            }
        }
    }

    .menu_items{
        list-style: none;
        
        li {
            @include position(relative);

            a{
                text-decoration: none;
                font-size: var(--font-7);
                line-height: var(--font-7-line);
                opacity: .6;
                @include ease(.3s);

                &:hover{
                    opacity: 1;
                }
            }

            
        }

        &.list-indicator{
            padding-left: 3.6rem;
       
             
            li {
                &::before{
                    content: '';
                    @include position(absolute);
                    left: -3.6rem;
                    top: .3rem;
                    height: 2.6rem;
                    width: 2.6rem;
                    background-color: white;
                    @include border-radius(var(--bdr-1));
                }

                a{
                    font-weight: 400;
                }
            }
        }
    }
}

/* TABLE */
table {
    td{
        padding-right: 3rem;
    }
}
/* SERVICE */
.service{
    @include position(relative);
    padding: 4rem;
    background-color: $white;

    .person{
        margin-bottom: 2.4rem;
        color: var(--clr-3);
    }

    h3{
        margin-bottom: 1.8rem;
        color: var(--clr-3);
    }

    ul{
        list-style: none;

        li{
            @include position(relative);
            padding-top: 1.55rem;
            padding-bottom: 1.55rem;
            color: var(--clr-3);

            &::after{
                content: "";
                background-color: $grey;
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: unset;
                left: 0;
                top: 0;
            }

            a{
                color: var(--clr-3);
                font-weight: bold;
                text-decoration: none;       
            }

            &:nth-last-child(1){
                padding-bottom: 0;
            }
        }
    }
}

p{
    a{
        color: inherit;
        text-decoration: none;
    }
}

/* FOOTER */
footer{
    
    .footer {
        @include position(relative);
        padding: 4rem 0 5rem;
        
        .service{
            padding: 0 0 0 0;
            background-color: transparent;
        }
        
        hr {
            height: 1px;
            border: none;
            background: var(--clr-1);
            opacity: .2;
            margin: 0 0 0 0;
        }

        &.thdark{
            background-color: var(--clr-3);
            .menu_items{
               li a{
                   color: $white;
               } 
            }

            p, li, h2, h3, h4, h5, h6{
                color: $white;
            }

            .service{
                li{
                    color: $white;

                    &::after{
                        background-color: white;
                        opacity: .1;
                    }

                    a {
                        color: inherit;
                    }
                }
            }

            .company{
                a{
                    color: $white;
                }
            }   

            .social-share-items{
                .social-link{
                    color: $white;
                }
            }
        }

        &.thlight{
            background-color: #ffffff;
            .menu_items{
                li a{
                    color: var(--clr-3);
                } 
            }
            .social-share .social-button{
                background-color: transparent;
                a{
                    color: var(--clr-3);
                }
            }   

            .service{
                li{
                    color: var(--clr-3);
                    
                    &::after{
                        background-color: $grey;
                    }

                    a {
                        color: inherit;
                    }
                }
            }
            p, h2, h3, h4, h5, h6{
                color: var(--clr-3);
            }

        }

        .copyright{
            @include position(relative);
            margin-top: 8.7rem;

            p, a {
                font-size: 1.1rem;
                line-height: 1.3rem;
                text-decoration: none;
            }

            p{
                opacity: .5;
                @include media-breakpoint-down(sm){
                    margin-bottom: 3rem;
                }
            }

            .social_wrapper{
                margin-right: 5rem;
                @include media-breakpoint-down(sm){
                    width: 100%;
                    display: flex;
                    margin-right: 0rem;
                    margin-bottom: 3rem;
                }
                
            }

            .link{
                margin-right: 3px;
                margin-left: 10px;
            }
            
            .copyright-right{
                img{
                    width: auto;
                    height: 28px;
                    margin-left: 17.5px;
                    opacity: .5;  
                }

                .first-logo{
                    @include media-breakpoint-down(sm){
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

/* QUOTE */
.quote{
    @include position(relative);

    h2{
        margin-bottom: 1.9rem;
    }
}

/* SHARE */
.post-share{
    @include position(relative);
    margin-top: 6.3rem;
    margin-bottom: 17.1rem;
}

.social-share-items{
    @include position(relative);
    .social-link{
        @include position(relative);
        font-size: var(--font-3);
        line-height: 0;
        color: var(--clr-3);
        margin-right: 2rem;
        
    }
}

.socials{
    h3{
        margin-bottom: 0;
        color: var(--clr-3);
    }
}
.social-share{
    @include position(relative);

    .social-button{
        @include position(relative);
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--clr-3);
        margin-right: 2.7rem;
        @include border-radius(var(--bdr-1));
        
        a{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                height: 2rem;
                width: 2rem;
            }
        }

        &.facebook-button{
            &::after{
                content: '';

            }   
        }
        &.linkedin-button{
            &::after{
                content: '';
            }   
        }
        &.twitter-button{
            &::after{
                content: '';
            }   
        }

        &:nth-last-child(1){
            margin-right: 0;
        }
    }
}


/* DOWNLOADS */
.download-item{
    h3{
        margin-bottom: 1rem;
        color: var(--clr-3);
    }
    p{
        margin-bottom: 2rem;
        color: var(--clr-3);
    }
}

/* SIDEBAR */
.sidebar{
    &_item{
        padding: 4rem; ;
        margin-bottom: 2rem;
        background-color: $grey;

        &.link_wrapper{
            .link_wrapper_inner{
                width: 100%;
                margin-bottom: 0;
                background-color: transparent;
                padding: 0rem;    
                
                .link{
                    &::after{
                        content: '';
                        background-color: var(--clr-3);
                        opacity: .1;
                    }
                }
            }
            
            h2{
                margin-bottom: 1.2rem;
                color: var(--clr-3)
            }

            

            a{
                &:nth-last-child(1){
                    .link{
                        padding-bottom: 0;

                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }

        &.contact_wrapper {
            h3{
                color: var(--clr-3)
            }
            ul{
                li{
                    color: var(--clr-3);
                }
                a{
                    color: var(--clr-3);
                }
            }

            .service{
                padding: 0 0 0 0;
                background-color: transparent;
                li{
                    &::after{
                        background-color: var(--clr-3);
                        opacity: .1;
                    }
                }
            }
        }

        &.menu_wrapper {
            h3{
                color: var(--clr-3);
            }

           .menu_items{
               margin-bottom: 0;

               li{
                    a{
                        color: var(--clr-3);
                    }
               }
           }
        }

        &.social_wrapper{
            border: 1px solid $grey;
            background-color: transparent;
            border-left: none;
            border-right: none;
            margin-bottom: 5rem;
            padding: 2rem 3rem;
        }
    }
}
/* RENDERS */
.render-content{
    .plate--container{
        padding-left: 0;
        padding-right: 0;
    }
}
/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1366px) {
    .plate--container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 1024px) {
   .logos{
       align-items: center;
   }

   .usp{
        padding: 0 0 0 0;
   }

   .navigation {
        .navbar_collapse {
            display: none;
        }
        .navbar-toggler{
            display: block;
            margin-left: auto;
        }
    
        .cars-offer .vehicle--columns .column .card{
            padding-bottom: 2.7rem;
            margin-bottom: 3rem;
        }
        .navigation .nav .mega-menu-container{
            background-color: var(--clr-3);
        }
    
        .select-arrow.revese.back-main-menu {
            transform: rotate(180deg);
            width: 16px;
            margin-bottom: 3rem;
        }
        
        .mega-menu-container{
            @include position(absolute);
            width: 100%;
            height: 100vh;
            opacity: 1;
            top: 0;
            @include transform(translateY(-100%));   

            .mega-menu-wrapper {
                @include position(relative);
                padding-top: 10rem;
                padding-bottom: 10rem;
                @include ease(.3s);
                
                .show-mobile{
                    display: flex;
                    @include position(relative);
                    margin-bottom: 1rem;
                    margin-right: 0rem;

                    &.product__search{
                        margin-top: 1rem;
                        .product__search__input {
                            width: 100%;
                            form{
                                max-width: unset;
                                margin-top: 2rem;
                                margin-bottom: 2rem;
                                
                                svg{
                                    top: 23px;
                                }

                                input{
                                    &.hide{
                                        opacity: 1!important;
                                        visibility: visible!important;
                                    }
                                }
                            }
                        }

                        &::before{
                            content: "";
                            position: absolute;
                            height: 1px;
                            width: 100%;
                            background-color: var(--clr-3);
                            opacity: .1;
                            bottom: 0;
                            left: 0;
                        }
                    }
                    &.assortiment{
                        margin-bottom: 4rem;
                        margin-top: 4rem;
                        
                        a{
                            font-size: 20px;
                        }
                    }

                    .button-wrapper {
                        margin-top: 2rem;
                    }
                }   

                .mega-menu{
                    @include position(absolute);
                    top: 0;
                    left: calc(100% + 40px);
                    width: calc(100% + 40px);
                    padding-top: 10rem;
                    padding-bottom: 10rem;
                    opacity: 1;
                    visibility: visible;
                }

                .dropdown {
                    .dropdown-arrow{
                        height: 23px;
                        width: 23px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }


                .select-arrow.revese.back-main-menu {
                    transform: rotate(180deg);
                    width: 16px;
                    margin-bottom: 3rem;
                }

                

            }  
            
            .column {
                width: 100%;

                &.mega-menu__contact{
                    display: none;
                }
            }

        }

        &.menu-open{
            .mega-menu-container{
                @include transform(translateY(0%));   
            }
        }

        &.pushed{
            .mega-menu-container{
                .mega-menu-wrapper{
                    @include transform(translateX(-100%));    
                }

                .mega-menu{
                    left: 100%;
                }

                .dropdown {
                    .dropdown-arrow{
                        height: 23px;
                        width: 23px;
                        position: absolute;
                        top: 0;
                        right: 40px;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }
                }
            }
        } 
    }
}

@media screen and (max-width: 767px) {
    html{
        font-size: 10px;
    }


    body {
        &.post_theme{
            &_show_0{
                .header{
                    &_inner{
                        max-width: unset;
                    }
                }
            }

            &_show_1{

                .header{
                    padding: 13rem 0 4rem;
                }

                .render-content{
                    padding: 0;
                    margin-top: 0;
                }
            }
            &_1{
                .header{
                    padding-top: 13rem;
                }

                .items-container{
                    .item{
                        width: 100%;
                        margin-right: 0;

                        &:nth-child(2n){
                            top: 0;
                        }

                        &:nth-child(1n), 
                        &:nth-child(3n) {
                            top: 0;
                            margin-right: 0;
                        }
                    }
                     
                    &:before{
                        display: none;
                    }
                }
            }
        }

        .plate--column{
            min-height: 0px;
        }

        &.post_conduct_show {
            h1{
                font-size: var(--font-2);
                line-height: var(--font-2-line);
            }

            .header_inner {
                .upload-date{
                    margin-top: 1.3rem;
                }
            }
            

        }
    }

    .header{
        &_inner{
            max-width: unset;
        }
    }

    .header_image{
        margin-bottom: 4rem;

        h6{
            left: 4rem;
        }
    }


    .slider-container {
        .slider {
            &.images_slider{
                padding-bottom: 0px;

                .swiper-button{
                    left: 20px;
                    bottom: 20px;
                    @include transform(translateX(0));
                  
                    &.swiper-button-next{
                        bottom: 20px;
                        @include transform(translateX(calc(100% + 10px)));
                    }
                }
            }
        }
    }

    .post-share{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .section-container {
        .section-content {
            .section_side{
                width: 100%;
                padding: 6rem 4rem;
                min-height: unset;
                order: 2;

                &.bg-cover{
                    order: 1;
                    padding: 0rem 4rem 56.25%;
                }
            }
        }
    }

    .link_wrapper{
        background-image: none!important;
        padding: 0 0 0 0;
        background-color: transparent;

        &_inner{
            margin-bottom: 0;
            width: 100%;      
        }

        &.outside{
            &.pos_lb, &.pos_rb, &.pos_lb, &.pos_ro {
                @include zero;
            }

            .link_wrapper_inner{ 
                margin-top: 0!important;
                margin-bottom: 0!important;
            }
        }

        .link-mobile-img{
            display: block;
            padding-top: 56.25%;
            margin-bottom: 4rem;
            width: 100%;
        }

    }

    .item{
        width: 100%;
        margin-right: 0;
    }

    .sidebar{
        margin-bottom: 2rem;
        .sidebar_item{
            padding: 4rem;
        }
    }

    footer {
        .footer{
            padding: 6rem 0;
            
            .copyright{
                margin-top: 10rem;
                .copyright-left{
                   
                    p{
                        width: 100%;
                    }
                    a{
                        width: 100%;
                    }
                    .link{
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                .copyright-right{
                    width: 100%;
                    justify-content: flex-start;
                }

                

                
            }
        }
    }

    .navigation{
        .menu-button {
            font-size: var(--font-7);
            line-height: var(--font-line-7);
        }

        
        &.menu-open{
            .navbar_brand{
                img{

                }
            }  
        }
    }
}


@media screen and (min-width: 1153px) {
    html{
        font-size: 10px;
    }
}

@media screen and (min-width: 1367px) {
    body{
        &.post_theme{
            &_show_1 {
                .header_image{
                    margin-top: 0;
                    padding-top: 0;
                    height: 63.7rem;
                }
            }
        }
    }
}

