
.pc--error {
    background-color: rgba(187, 81, 81, 0.251)!important;
    border: 1px solid rgb(218, 153, 153)!important;
}

.fields-wrapper{
	.form-field-container{
		@include position(relative);
	
		&.half {
			width: calc(1 / 2 * 100% - (3rem / 2));
			@include media-breakpoint-down(sm){
				width: 100%;
			}
		}
	
		&.third {
			width: calc(1 / 3 * 100% - (6rem / 3));
			@include media-breakpoint-down(sm){
				width: 100%;
			}
		}

		&.quarter{
			width: calc(1 / 4 * 100% - (9rem / 4));
			@include media-breakpoint-down(sm){
				width: 100%;
			}
		}
		
		&.autow{
			width: 8rem;
			height: 5rem;
			margin-bottom: 0;
			margin-left: 10px;
			margin-right: 10px;
	
			input{
				padding: 0 0 0 0!important;
				text-align: center;
				min-height: 50px;
			}
		}
	
		.form-field{
			&.text ~ label {
				opacity: 0;
				@include position(absolute);
				top: -5px;
				z-index: 3;
				font-size: 12px;
				line-height: 12px;
				padding: 0 3px;
				background: #ffffff;
				left: 1.5rem;
				color: var(--clr-3);
				@include transform(translateY(-100%) scale(0.9)); 
				@include ease(.3s);
			}
	
			&.text{
				&.form-field{
					&--is{
						&-active ~ label {
							visibility: visible;
							opacity: 1;
							@include transform(translateY(0%) scale(1)); 
						}
	
						&-filled ~ label{
							visibility: visible;
							opacity: 1;
							@include transform(translateY(0%) scale(1));
						}
					}
				}
			}
	
		}
	}
	
}
.header{
	&.empty_img{
		&.product__show{
			padding: 17rem 0 0 0;
			background-color: transparent;
		}
	}
}


.pc__combinations{
	&.fields-wrapper{
	 	.form-field-container{
			margin-bottom: 6rem;
			.form-field{
				&.select{
					max-width: 30.5rem;

					select{
						width: 100%;
						height: auto;
						border-radius: 0;
						margin-bottom: 0rem;
						padding: 1.5rem 1.8rem;
						border: none;
						-webkit-appearance: none;
						
						color: black;

						option{
							color: black;
						}
					}

					&::after{
						border: 1px solid var(--clr-1);
						opacity: .2;
					}

					.select-arrow{
						right: 1.8rem;
					}
				}
			}
		}
	}
}

.cart__container, .checkout__container, .account__container, .post_conduct_show.post_type_product .pc__product{
	padding-top: 24.1rem;
	padding-bottom: 9.6rem;

	@include media-breakpoint-down($breakpoint){
		padding-top: 18.9rem;
		padding-bottom: 10rem;
	}
}

.post_type_product {
	&.post_conduct_show{
		.pc__product{
			border: none;
			padding-top: 24.2rem;
			@include media-breakpoint-down($breakpoint){
				padding-top: 18.9rem;
			}
		
			&__media{
				border: 1px solid var(--clr-3);
			}
		
			&__prices{
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 0;
				margin-top: 0;
			}

			@include media-breakpoint-down($breakpoint){
				&__media__item{
					padding-top: calc(100% / 3 * 2);
				}
			}
		}
	}
}

.shop__container{
	padding-top: 18.9rem;

	.extern-header{
		&.pc{
			&_header{
				padding-top: 0;
			}
		}
	}

	@include media-breakpoint-down($breakpoint){
		padding-top: 10rem;
	}
}

.shop-title-container{
	width: 100%;

	.button-wrapper {
		margin-top: 2.5rem;
		margin-bottom: 5rem;
	}
}

.cart, .checkout{
	&__container{
		&__inner{
			.checkout__wrapper{
				width: 66%;
				@include media-breakpoint-down($breakpoint){
					width: 100%;
				}

				h1{
					margin-bottom: 3rem;
				}

				.pc__product__title  {
					@include fonts(var(--font-font-1-link), 2.1rem, 2.7rem);
					margin-bottom: 0;
					color: var(--clr-3)
				}
			}
			.checkout__cart{
				width: calc(34% - 6.5rem);
				margin-left: auto;
				@include media-breakpoint-down($breakpoint){
					width: 100%;
					margin-top: 4rem;
				}

				.sidebar__total{
					padding: 5.3rem 4.2rem;
					background: white;
					@include position(relative);

					@include media-breakpoint-down(sm){
						padding: 3rem;
					}
					&::after{
						content: '';
						@include position(absolute);
						top: -1px;
						left: -1px;
						height: 100%;
						width: 100%;
						border: 1px solid var(--clr-1);
						opacity: .2;
						z-index: -1;
					}
					

					.pc__total{
						color: black;
						@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
						
						p{
							@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
							margin-bottom: 0;
							display: flex;
							justify-content: space-between;
						}
						
						.total-price {
							@include position(relative);	
							border-top: none;
							padding-top: 2.3rem;
							margin-top: 2.3rem;
							margin-bottom: 2.3rem;

							&::after{
								content: '';
								@include position(absolute);
								top: 0;
								left: 0;
								height: 1px;
								width: 100%;
								background-color: var(--clr-1);
								opacity: .2;	
							}
						}
					}
				}
			}
		}
	}
}


.button{
	cursor: pointer;				
	button{
		cursor: pointer;					
	}
}



.pc{

	&__payment{
		&__item{
			&__image{
				margin-right: 1rem;
			}
		}
	}
	&__breadcrumb{
		font-size: 1.3rem;
		line-height: 1.8rem;
		@include media-breakpoint-down(md){
			margin-top: 2rem;
		}
	}
	&__index{
		&__whole{
			&__description{
    			margin-bottom: 10rem;
			}
		}
		.form{
			&-field{
				&.select{
					max-width: 200px;
					margin-bottom: 4rem;
					margin-left: auto;
					margin-top: 4rem;
					@include media-breakpoint-down(sm){
						max-width: unset;
					}
				}
			}
		}
		&__result{
			&.plate--row{
				@include media-breakpoint-up($breakpoint){
					margin-right: -20px;
					margin-left: -20px;

					.plate--column{
						&.md-4{
							padding-right: 20px;
							padding-left: 20px;
						}
					}

					.pc__product-inner{
						padding-bottom: 3.8rem;
					}
				}


				@include media-breakpoint-down(sm){
					margin-right: -10px;
					margin-left: -10px;

					.plate--column{
						&.md-4{
							padding-right: 10px;
							padding-left:10px;

							.pc{
								&__product{
									&-inner{
										flex-flow: row wrap;
										padding-top: 1rem;

										h3{
											font-size: 13px;
											line-height: 19px;
										}
									}
									&__prices{
										width: 100%;
										justify-content: flex-start;
										margin-left: 0;

										div{
											font-size: 13px;
											line-height: 19px;
										}
									}
								}
							}
						}
					}
				}
			}

			&__sort{
				width: 20rem;
			}
		}

		&__filters{

			button{
				&.accordion{
					display: none;
				}
			}

			@include media-breakpoint-down(sm){
				padding-bottom: 4rem;
				.panel {
					padding: 0 0;
					display: none;
					overflow: hidden;

					h3{
						display: none;
					}
					
					.category{
						&:first-of-type{
							margin-top: 2rem;
						}
						&:nth-last-child(1){
							margin-bottom: 2rem;
						}
					}
					.pc__index__filters{
						&__tax{
							&__title{
								display: none;
							}
						}

						

						&__attributes{
							margin-bottom: 2rem;
    						margin-top: 2rem;
						}
					}
				}

				button{
					&.accordion{
						display: block;
						width: 100%;
						-webkit-appearance: none;
						border: none;
						background-color: transparent;
						padding: 0 0 0 0;
						text-align: left;
						@include position(relative);

						h3{
							font-size: var(--font-6);
							margin-bottom: 0;
							padding: 1.55rem 0;
							line-height: 100%;
							color: black;
						}

						&::after{
							content: '';
							@include position(absolute);
							@include border-radius(0);
							top: 0;
							left: 0;
							height: 100%;
							width: 100%;
							border-bottom: 1px solid var(--clr-3);
							opacity: 1;
						}

						.select-arrow{
							position: absolute;
							line-height: 0;
							top: 50%;
							@include transform(translateY(-50%));
							right: 0;
							
							svg{
								width: 10px;
							}
						}
					}
				}
			}

			&__attributes{
				margin-bottom: 6rem;

				
			}
			&__tax{

				&__title{
					color: var(--clr-3);
					
					h3{
						margin-bottom: 2.5rem
					}
				}

				&__items{
					&__item{
						@include position(relative);
						list-style: none;
						margin-bottom: .5rem;
						&__input{
							opacity: 0;
							@include position(absolute);
						}

						span{
							padding: .5rem 4rem;
						}

						&::before{
							content: "";
							@include position(absolute);
							top: 0;
							left: 0;
							width: 18px;
							height: 18px;
							border: 1px solid var(--clr-1);
							background: transparent;
							@include transition(0.3s);
							opacity: .3;
						}

						&.active{
							&::before{
								border: 1px solid var(--clr-3);
								background: var(--clr-3);
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	&__product {
		&__item {
			&__index {
				&__product{
					margin-bottom: 0rem!important;
				}

				.pc__product{
					&__media{
						@include position(relative);
						overflow: hidden;
						background-color: white;
						padding: 0rem;
						border: 1px solid var(--clr-3);

						&__empty{
							@include position(relative);
							padding-top: 100%;
						}

						.link{
							@include position(absolute);
							z-index: 3;
							left: 50%;
							top: 50%;
							opacity: 0;
							@include transform(translate(-50%, -35%) scale(.9));
							@include ease(.8s);

						}

						&::before{
							content: '';
							@include position(absolute);
							@include transform(scale(.3) translateY(7%));
							@include border-radius(100%);
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: var(--clr-3);
							z-index: 3;
							opacity: 0;
							@include ease(.5s);
						}
					}
				}

				&:hover{
					.pc__product{
						&__media{
							.link{
								opacity: 1;
								@include transform(translate(-50%, -50%) scale(1));
							}
							&::before{
								opacity: 0.8;
								@include transform(scale(2) translateY(0%));
								@include border-radius(0);
							}
						}
					}	
				}
			}
		}
	}
	&__cart{
		&--empty, &--loading{
			
			opacity: .25!important;
			.pc__cart__list__item{
				height: 150px;
				animation: pulsate 1s ease-in-out 2s infinite alternate;
				-webkit-animation: pulsate 1s ease-in-out 2s infinite alternate;
				.pc__cart__list__overview__inner{
					width: 100%;
				}
				.pc__cart__list__overview__quantity{
					background-color: var(--clr-3);
					height: 5rem;
					width: 7rem;

					.input-size{
						display: none;
					}
				}
				.pc__cart__list__item__delete, .pc__product__totalprice {
					background-color: black;
					color: transparent;
					opacity: .3;
				}

				.pc__product{
					&__media{
						height: 12rem;
						width: 12rem;
						background-color: var(--clr-3);

						.swiper-slide{
							display: none;
						}
					}

					&__title{
						position: relative;
						background: var(--clr-3);
						height: 2rem;
						width: 90%;
						margin-bottom: 30px;
						opacity: .9;
						font-size: 0px;
						line-height: 0px;
						color: transparent;
						
						&::after{
							content: '';
							position: absolute;
							bottom: -28px;
							width: 60%;
							height: 100%;
							background: var(--clr-3);
							opacity: .7;
						}

					}	
				}
			}

			@include media-breakpoint-down(sm){
				.pc__cart__list__item{
					height: 7rem;
					.pc__cart__list__overview__inner{
						width: 100%;
					}
					.pc__cart__list__overview__quantity{
						background-color: var(--clr-3);
						height: 5rem;
						width: 7rem;
	
						.input-size{
							display: none;
						}

						display: none;
					}
					.pc__cart__list__item__delete, .pc__product__totalprice {
						display: none;
					}
	
					.pc__product__totalprice{
						width: 30px;
						height: 12px;
						@include transform(tranformY(-10px));
					}

					.pc__product{
						&__media{
							height: 7rem;
							width: 7rem;
							background-color: var(--clr-3);
	
							.swiper-slide{
								display: none;
							}
						}
	
						&__title{
							position: relative;
							background: var(--clr-3);
							height: 1.3rem;
							width: 90%;
							margin-bottom: 30px;
							opacity: .9;
							font-size: 0px;
							line-height: 0px;
							color: transparent;
							
							&::after{
								content: '';
								position: absolute;
								bottom: -15px;
								width: 60%;
								height: 100%;
								background: var(--clr-3);
								opacity: .7;
							}
						}	
					}
				}
			}
		}
		

		table{
			width: 100%;
		}

		&__list__overview__quantity{
			.input-size{
				@include position(relative);
				&::after{
					content: '';
					@include position(absolute);
					@include dimensions(100%, 100%);
					left: 0;
					top: 0;
					border: 1px solid var(--clr-1);
					opacity: .2;
					z-index: -1;
				}
			}
		}
		
		&__list__item{
			border-bottom: 1px solid var(--clr-4);
			padding-top: 3.1rem;
			padding-bottom: 3.1rem;


			&__delete{
				background-color: transparent;
				border: none;
				outline: none;
				color: black;
				text-decoration: underline;
				background-color: transparent;
				background: transparent;
				outline: none;
				border: none;
				-webkit-appearance: none;
			}

			&:nth-child(1){
				padding-top: 0;
			}
			
			a{
				text-decoration: none;
			}

			&__media{
				width: 14rem;
				@include media-breakpoint-down($breakpoint){
					width: 8rem;
					margin-bottom: auto;
					margin-top: 2rem;
				}
				
				.pc__product__media__item{
					padding-top: 100%;
				}

			}

			.pc__cart__list__overview__inner{
				@include media-breakpoint-down($breakpoint){
					@include flex-c;
				}
			}

			

			.pc__cart__list__overview {
				width: calc(100% - 14rem);
				padding-top: .5rem;
				padding-bottom: .5rem;	
				@include position(relative);		

				@include media-breakpoint-down($breakpoint){
					width: calc(100% - 8rem);
					padding-top: 2rem;
					padding-bottom: 2rem;
					padding-left: 2rem;
				}

				&__product{
					width: 40%;
					padding-top: 0;

					@include media-breakpoint-down($breakpoint){
						padding-top: 0rem;
						width: 100%;
						order: 1;
						margin-bottom: 2rem;
					}
				}
				
				.pc__product__quantity-input{
					margin: 0;
					@include media-breakpoint-down($breakpoint){
						height: 3.5rem;
						width: 3.5rem;
					}
				}
	
				&__delete__product{
					width: calc(30% - 5rem);
					@include media-breakpoint-down($breakpoint){
						width: calc((100% - 3.5rem) / 2);
						order: 4;
					}

					.delete__product__inner{
						padding-top: 0rem;
						padding-left: 3.5rem;
						text-align: right;
						@include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
						color: var(--clr-3);
						font-weight: 300;	
						
						@include media-breakpoint-down($breakpoint){
							padding-left: 0;
							padding-right: 0;
							font-size: var(--font-6);
							line-height: var(--font-6-line);
							padding-top: 0;
						}

						button{
							margin-top: 1.8rem;
							background: transparent;
							border: none;
							padding: 0;
							outline: none;
							color: #99999A;
							@include position(absolute);	
							right: 0;	

							@include media-breakpoint-down($breakpoint){
								display: none;
							}
						}
					}
				}
				
				&__quantity{
					width: 7rem;
					@include media-breakpoint-down($breakpoint){
						width: 3.5rem;
						order: 3;
					}
				}

				&__price__price{
					width: calc(30% - 2.5rem);
					
					
					.price__product__inner{
						padding-right: 3.5rem;
						text-align: right;

						@include media-breakpoint-down($breakpoint){
							padding-right: 0;
							text-align: left;
						}

						.pc__product__price{
							@include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
							@include media-breakpoint-down($breakpoint){
								font-size: var(--font-6);
								line-height: var(--font-6-line);
								
							}
							color: var(--clr-3);
							font-weight: 500;							
						}
					}

					@include media-breakpoint-down($breakpoint){
						padding-top: 0rem;
						width: calc((100% - 3.5rem) / 2);
						order: 2;
					}
				}
			}
			
			.pc__product{
				&__media {
					width: 12rem;
					border: 1px solid var(--clr-3);
					@include media-breakpoint-down($breakpoint){
						width: 8rem;
						border: 1px solid var(--clr-4);
					}
				}

				&__sku {
					font-size: 1.3rem;
					line-height: 1.4rem;
					margin-bottom: 0;
				}
			}

			h6{
				font-weight: bold;
				margin-bottom: 0rem;
			}

			td {
				padding-right: 0;
			}
		}
	}

	&__product{
		@include position(relative);
		height: 100%;
		margin-bottom: 2rem;
		@include border-radius(var(--bdr-3));

		.pc__product__item{
			.pc__product{
				&__prices{
					margin-bottom: 0;
    				margin-top: 1rem;
				}
			}
		}
		.product-media{
			@include position(relative);
			.label__wrapper{
				right: 2rem;
				@include media-breakpoint-down($breakpoint){
					right: 1rem;
				}
			}

		
		}
		
		
		.label__wrapper{
		    position: absolute;
			top: 1px;
			right: 50%;
			display: flex;
			z-index: 11;
			@include transform(translateX(50%));

			.label{
				padding: .5rem 1rem;
				background-color: white;
				border: 1px solid var(--clr-3);
				border-top: none;
				color: black;
				margin-left: .5rem;
				margin-right: .5rem;
				@include fonts(var(--font-font-3-link), 1rem, 1.2rem);
				font-weight: 400;
				text-transform: uppercase;
				@include border-radius(var(0));
			}
		}
	
		
		
		h3{
			color: var(--clr-3);
		}


		a{
			text-decoration:  none;
		}


		&__attributes {
			padding-left: 0rem;
			@include media-breakpoint-down($breakpoint){
				padding-left: 0;
				margin-top: 0rem;
			}

			li{
				padding-bottom: 1.5rem;
				@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
				color: black;
				width: 100%;
			}
		}

		&__variations{
			select{
				width: 100%;
				height: auto;
				border-radius: 0;
				margin-bottom: 2.5rem;
				padding: 1.5rem 1.8rem;
				border: 1px solid var(--clr-3);
				-webkit-appearance: none;
			}
		}
		
		&_information{
			&_inner{
				@include media-breakpoint-down($breakpoint){
					padding-left: 0;
				}
			}
		}

		&__media{
			&__item{
				@include position(relative);
				padding-top: 100%;
				
			}
		}
		&-inner{
			padding: 2.8rem 0 0;

			h3{
				margin-bottom: 0;
				font-size: var(--font-7);
				line-height: var(--font-7-line);
			}

			.pc__product__sku {
				font-size: 1.4rem;
				line-height: 1.4rem;
				margin-bottom: 0.7rem;
				margin-top: 0.7rem;
			}


		}

		

		&__prices{
			margin-bottom: 2rem;
			margin-top: .2rem;
			width: 150px;
			margin-left: 5px;
			
			p{
				margin-bottom: 0;
			}
			.pc__product__comparetoprice  {
				margin-right: .4rem;		
				@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
				color: var(--clr-3);
				text-decoration: line-through;
				p{
					@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
				}
			}

			.pc__product__price {
				@include fonts(var(--font-font-1-link), var(--font-6), var(--font-6-line));
				color: var(--clr-1);

				h3{
					margin-bottom: 5rem;
				}
			}
		}
		.input-size{
			@include position(relative);
			&::after{
				content: '';
				@include position(absolute);
				@include dimensions(calc(100% - 3rem), 100%);
				left: 0;
				top: 0;
				border: 1px solid var(--clr-1);
				opacity: .2;
				z-index: -1;
			}
		}
		&__quantity-input {
			
			height: 5rem;
			width: 7rem;
			text-align: center;
			border: none;
			margin-right: 3rem;
			@include border-radius(0);
		}

		&__description{
			color: black;
			@include fonts(var(--font-font-3-link), var(--font-6), var(--font-6-line));
			margin-top: 2rem;
			&.with_title{
				margin-top: 0;
			}
		}

		h1{

			font-size: var(--font-2);
			line-height: var(--font-2-line);
			margin-bottom: 1.7rem;
			color: var(--clr-3)
		}
		
		&__sku{
			font-size: var(--font-3);
    		line-height: var(--font-3-line);
		}

		&__information{
			margin-top: 10rem;
			
			h2{
				color: var(--clr-3);
			}
			@include media-breakpoint-down($breakpoint){
				margin-top: 5rem;;
			}
		}

		&__related{
			margin-top: 6.3rem;
			margin-bottom: 0rem;
			padding-top: 6.3rem;
			@include position(relative);

			&::after{
				content: '';
				top: 0;
				left: 0.8rem;
				width: calc(100% - 1.6rem);
				height: 1px;
				background-color: var(--clr-1);
				opacity: .2;
				@include position(absolute);
	
			}
			

			h2{
				margin-bottom: 3.3rem;
				color: var(--clr-3);
			}
			@include media-breakpoint-down($breakpoint){
				margin-top: 5rem;;
				margin-bottom: 5rem;;
			}

			.slider-container{
				.slider{
					overflow: visible;
					.swiper-slide-main{
						margin-bottom: 3.2rem;
					}
	
					.swiper-scrollbar{
						display: block!important;
						background: rgba(218, 221, 226, 0.3);

						&-drag{
							background-color: var(--clr-4);
						}
					}
				}
			}
		}

		.slider{
			.swiper-slide{
				height: auto;
			}
			.pc__product{
				padding-top: 0;
				padding-bottom: 0;
				height: 100%;
				margin-bottom: 0rem;
				@include border-radius(var(--bdr-3));
			}
		}
	}
	
	&__index__filters__tax__items{
		&.range{
			max-width: 25rem;
		}
	}

	&__shipping_adress{
		margin-bottom: 2rem;
	}
    &__coupon, &__coupons{
        .button-wrapper{
            display: block;
            margin-left: 1rem;
            margin-bottom: 1rem;

            .button{
                &.plus{
                    p{
                       width: 49px;
                       height: 49px;
                       padding: 15px 16px 16px;
                    }
                }
            }
        }
	}
	
	&__checkout{
		.shipping-wrapper{
			@include position(relative);
			padding: 5rem;
			margin-bottom: 6rem;
			@include media-breakpoint-down(sm){
				padding: 1.55rem 1.8rem;
				margin-bottom: 3rem;
			}

			&::before{
				content: '';
				@include position(absolute);
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: var(--clr-3);
				opacity: .1;
			}

			.form-field{
				&-container{
					margin-bottom: 0;
					@include media-breakpoint-down(sm){
						&:nth-last-child(1){
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.filter__input__range {
	padding-bottom: 2rem;
	@include position(relative);

	p{
		margin-bottom: 0;
	}
	&__bar {
		height: 0.4rem;
		@include position(relative);
		background-color: var(--clr-4);
		margin: 2rem 10px 0;

		&__max,
		&__min {
			width: 1.5rem;
			height: 1.5rem;
            @include transform(translateY(-50%) translateX(-50%)); 
			background-color: var(--clr-1);
			z-index: 2;
        }

		&__range {
			height: 0.4rem;
			background: var(--clr-1);
			transform: translateY(-50%);
			opacity: 1;
		}

		&__max,
		&__min,
		&__range {
			@include position(absolute);
			top: 50%;
		}

		&__min {
			left: 0;
		}

		&__max {
			left: 100%;
		}
	}

	&__values {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__selector input {
		pointer-events: none;
		@include position(absolute);
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		cursor: pointer;
	}

	&__selector {
		@include position(absolute);
		z-index: 10;
		left: 0;
		width: 100%;
		@include transform(translateY(-50%));
		height: 20px;
		
		&--active {
			pointer-events: all !important;
		}
	}
}

.shop-dropdown-show{
	@include position(relative);
	overflow: hidden;

	&::before{
		content: '';
		@include position(absolute);
		left: 0;
		top: 0;
		height: 200%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.15);
		z-index: 4444444443;
	}

	.shop{
		&-dropdown{
			display: block;
			
			.pc{
				&__cart{
					&--empty, &--loading{
						
						.pc__cart__list__item{
							height: 7rem;
							.pc__cart__list__overview__inner{
								width: 100%;
							}
							.pc__cart__list__overview__quantity{
								background-color: var(--clr-3);
								height: 5rem;
								width: 7rem;
			
								.input-size{
									display: none;
								}

								display: none;
							}
							.pc__cart__list__item__delete, .pc__product__totalprice {
								display: none;
							}
			
							.pc__product__totalprice{
								width: 30px;
								height: 12px;
								@include transform(tranformY(-10px));
							}

							.pc__product{
								&__media{
									height: 7rem;
									width: 7rem;
									background-color: var(--clr-3);
			
									.swiper-slide{
										display: none;
									}
								}
			
								&__title{
									position: relative;
									background: var(--clr-3);
									height: 1.3rem;
									width: 90%;
									margin-bottom: 30px;
									opacity: .9;
									font-size: 0px;
									line-height: 0px;
									color: transparent;
									
									&::after{
										content: '';
										position: absolute;
										bottom: -15px;
										width: 60%;
										height: 100%;
										background: var(--clr-3);
										opacity: .7;
									}
			
								}	
							}
						
						}
					}
				}
			}
		}
	}
}

.shop{
	&-dropdown{
		display: none;
		@include position(fixed);
		@include transform(translate(-50%, -50%));
		@include border-radius(var(--bdr-3));
		top: 50%;
		left: 50%;
		height: auto;
		min-height: 250px;
		max-height: 90vh;
		width: calc(100% - 8rem);
		max-width: 58rem;
		background: white;
		z-index: 4444444444;
		box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.15);
		padding: 6rem;
		overflow-y: scroll;
		
		@include media-breakpoint-down(sm){
			padding: 3rem;
			width: calc(100% - 6rem);
			
		}

		&-items{
			@include position(relative);
			max-height: 200px;
			width: 100%;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				width: .2rem;
				display: block;
				opacity: .2;
			}
			
			&::-webkit-scrollbar-track {
				background: transparent; 
			}
			
			&::-webkit-scrollbar-thumb {
				background: var(--clr-4); 
			}
			
			&::-webkit-scrollbar-thumb:hover {
				background: var(--clr-3); 
			}
		}


		&.scroll-able{
			&::after{
				content: '';
				width: 100%;
				height: 50px;
				background: linear-gradient(rgba(255, 255, 255, 0),#ffffff);
				position: absolute;
				top: 235px;
				left: 0;
				@include transform(translateY(-100%));
				display: none;
			}
		}

		.pc__total{
			color: black;
			@include fonts(var(--font-font-3-link), 1.5rem, 3.2rem);
			font-weight: 300;
			padding-top: 4rem;

			p{
				@include fonts(var(--font-font-3-link), 1.5rem, 3.2rem);
				font-weight: 300;
				margin-bottom: 0;
				display: flex;
    			justify-content: space-between;
			}
			.total-price{
				padding-top: 2rem;
				margin-top: 2rem;
				margin-bottom: 2.7rem;
				border-top: 1px solid var(--clr-4);

				p{
					@include fonts(var(--font-font-3-link), var(--font-7), var(--font-7-line));
				}
			}
		}
		.button-wrapper{
			margin-top: 1rem;
			&-inner{
				width: auto;
	
				.button{
					width: auto;
				}
			}
		}
		
		.pc__cart{
			&__list{
				&__item{
					margin-bottom: 1.4rem;
					padding-top: 0;
					padding-bottom: 0;
					border-bottom: none;
					.pc__cart__list{
						&__overview{
							padding-top: 0;
							padding-bottom: 0;
							width: calc(100% - 14rem);
							@include media-breakpoint-down($breakpoint){
								padding-left: 0;
								width: calc(100% - 9rem);
							}

							&__inner{
								margin-top: 0rem;
							}

							&__delete__product{
								display: block;
								width: 100%;
								order: 2;
								.delete{
									&__product{
										&__inner{
											justify-content: flex-start;
											align-items: flex-start;
											text-align: left;
											padding-left: 0;
											font-size: 1.2rem;
											line-height: 1.5rem;
											margin-top: .5rem;
											margin-bottom: .5rem;
										}
									}
								}
							} 

							&__price__price{
								display: none;
								width: 100%;
							}

							&__product{
								padding-top: 0;
								width: 100%;	
								order: 1;

								h6{
									font-size: 1.3rem;
    								line-height: 1.6rem;
								}

								p{
									color: var(--clr-3);
									margin-bottom: 0;
									font-size: 1.2rem;
									line-height: 1.5rem;
								}

								@include media-breakpoint-down($breakpoint){
									margin-bottom: 0rem;
								}

								a {
									display: flex;
									justify-content: space-between;
									width: 100%;
								}

								.pc__product__sku{
									font-size: .7rem;
									line-height: .8rem;
									text-align: right;
									display: none;
								}
							}

							&__quantity{
								@include position(relative);
								display: flex;
								width: 100%;
								order: 3;

								&:before{
									content: 'Aantal: ';
									@include fonts(var(--font-font-3-link), 1.3rem, 1.4rem);
									color: black;
									margin-right: 3px;
								}
								input{
									pointer-events: none;
									border: none;
									width: auto;
									height: auto;
									text-align: left;
									@include border-radius(0);
									font-size: 1.3rem;
									line-height: 1.4rem;
									color: black;
								}
							}

							&__price__price{
								padding-top: .5rem;
								width: 100%;
								.pc__product__price {
									font-weight: 300;
									text-align: left;
									font-size: 1.3rem;
									line-height: 1.4rem;
									color: var(--clr-3);
								}
								
							}
						}
					}

					.input-size{
						&::after{
							display: none;
						}
					}
					&__media{
						width: 7rem;
						height: auto;
						margin-right: 2rem;

						@include media-breakpoint-down($breakpoint){
							margin-top: 0rem;
							width: 7rem;
							height: 7rem;
						}
						.pc__product__media {
							width: 7rem;
							@include media-breakpoint-down($breakpoint){
								width: 7rem;
							}
							border: 1px solid var(--clr-3);
							&__item{
								padding-top: 100%;
							}
						}
						
						.link{
							svg{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.post_type_product.post_conduct_show .pc__product__media.pc__product__media__empty{
	visibility: hidden;
}

div[class$="--loading"] {
	opacity: 0.4;
}

.pagination {
	@include position(relative);
	width: 100%;
	margin-top: 4rem;
	margin-bottom: 10rem;

	&__row{
		li{
			width: 45px;
			height: 45px;
			text-align: center;
			@include border-radius(var(--bdr-1));
			@include flex-cc;
			@include ease(.3s);
			color: var(--clr-3);
			border: 1px solid var(--clr-3);
			cursor: pointer;
			margin: 0 5px;

			&.pagination {
				&__row{
					&__item{
						&--point{
							border: 1px solid transparent;
						}
					}
				}
			}
		}

		&__item{
			&--active{
				background-color: var(--clr-3);
				color: white;

				span{
					color: white;
				}
			}

		}
	}

	&__item{
		&--next{
			@include transform(rotate(180deg));
			margin-left: 15px;
		}

		&--prev{
			margin-right: 15px;
		}
	}
}

@keyframes pulsate {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.4;
	}
}

@keyframes pulsate2 {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.1;
	}
}